<!DOCTYPE html>
<html>
<head>
    <! — include bootstap and jquery cdn →
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/my.js"></script>
</head>
<body>
<div class="container">
    <h3>Send Messages<span>_</span></h3>
    <br>
    <input id = "name" placeholder="Name">
    <input id = "message" placeholder="Your Message Here">
    <button id="send" href="192.168.1.12:3000">Send</button>
</div>
    <div id="messages">
 
    </div>
</div>
<script>
    $(() => {
    $("#send").click(()=>{
       sendMessage({
          name: $("#name").val(), 
          message:$("#message").val()});
        })
      getMessages()
    })
    
    function addMessages(message){
        $('#messages').append(`
            <div class="m">
                <h2> ${message.name}:// </h2>
                <p>  ${message.message} </p>
            </div>    `)
    } 
    
    function getMessages(){
        $.get('http://localhost:3000/messages', (data) => {
        data.forEach(addMessages);
        })
    }
    
    function sendMessage(message){
        $.post('http://localhost:3000/messages', message)
    }

    var socket = io();

    socket.on('message', addMessages)
    
</script>
</body>
</html>